
a {
  text-decoration: none;
}

.sidebar {
  width: 300px;
  height: 100%;
  top: 0;
  overflow: hidden;
  background-color: #19222a;
  visibility: visible;

  header {
    background-color: #09f;
    width: 100%;
    display: block;
    padding: 0.75em 1em;
  }
}

.sidebar-nav {
  background-color: #19222a;
  height: 100%;
  width: 300px;
  font-weight: 400;
  font-size: 1.2em;
  overflow: auto;
  padding-bottom: 6em;

  ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;

    li {
      margin-left: 0;
      padding-left: 0;
      display: inline-block;
      width: 100%;

      a {
        color: rgba(255, 255, 255, 0.9);
        font-size: 0.75em;
        padding: 1.05em 1em;
        position: relative;
        display: block;
        &:hover {
          background-color: rgba(0, 0, 0, 0.9);
        }
      }

      i {
        font-size: 1.8em;
        padding-right: 0.5em;
        width: 9em;
        display: inline;
        vertical-align: middle;
      }
    }
  }
}
